/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*General Styles*/
body {
    font-family: "lato", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    font-weight: 400;
    line-height: 200%;
    font-size: 1rem;
}

@media only screen and (max-width: 820px) {
    body {
        font-size: 0.8rem;
    }

}

/*Child Image*/
#child {
    /*height: 800px;*/
    width: 100%;
    background: url(../images/learningchild.jpg) no-repeat center center/cover;
    position: relative;
    aspect-ratio: 3;
    min-height: 360px;
    background-position-y: 10%;
    margin-bottom: 50px;
}

/*Heading styles*/
header {
    background-color: #284a5a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 2px #3a3a3a;
    margin: 0 0 1px;
}

header>h1 {
    font-size: 2em;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    margin-top: 60px;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}


h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1em;
    margin: 0;
}

/*nav styles*/
nav {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 110%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#navbar {
    margin-left: auto;
}

/*main section styles*/
main {
    background-color: white;
    flex: 1 0 auto;
    position: relative;
    margin-top: 2px;
}

/*section styles*/
#subjects,
#sessions {
    margin-top: 80px;
    padding: 20px 100px;
    margin-bottom: 50px;
}

/*#subject-cards,
#session-cards {
    margin-bottom: 50px;
}*/

#sessions {
    margin-top: 80px;
}

.list-group-item {
    flex-flow: row wrap;
}

@media only screen and (max-width: 900px) {
    #subjects,
    #sessions {
        padding: 0px 20px;
    }

    #subject-cards {
        padding: 10px 0;
    }
    
}

/*Form styles*/
#signup {
    margin-top: 30px;
    text-align: center;
    color: #284a5a;
}

form {
    margin-top: 30px;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (max-width: 600px) {
    form {
        padding: 20px 0px;
    }

    option {
        font-size: 0.8rem;
    }

    fieldset {
        padding: 20px 50px;
    }
}

form > #submit {
    text-align: center;
    margin-top: 20px;
}

#guardian,
#student {
    padding: 20px 100px;
    margin-top: 20px;
}

fieldset>div {
    padding: 20px 20px;
}

form>button {
    align-items: center;
}

input:invalid + .error-message {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Hide error message initially */
.error-message {
    display: none;
}

/*footer styles*/
footer {
    background-color: #284a5a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    height: 120px;
}

footer>span {
    color: #fff;
    padding: 1em
}

footer>a {
    color: #fff;
    padding: 0 15px;
    padding-bottom: 20px;
}

footer>p {
    font-size: 0.8em;
    margin-top: 20px;
}