body {
    font-family: sans-serif;
}

header {
    background-color: #145d99;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    background-color: aqua;
    margin: auto;
}


footer {
    background-color: #69a332;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer > span {
    color: #fff;
}

footer > a {
    color: #fff;
    padding: 0 15px;
}